:root {
  --text: #1A1208;
  --text-h: #08060d;
  --bg: #F5EFE8;
  --border: #E8DDD2;

  --orange: #FF5C1A;
  --orange-light: #FFF0EA;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

/* BASE BODY */
body {
  margin: 0;
  font-family: var(--sans);
  font-size: 16px;
  line-height: 1.45;
  letter-spacing: 0.18px;

  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ROOT APP */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TYPO */
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #f4f3ec;
}

.card-padding {
  padding: 16px;
}